{% extends "layout.html" %}

{% block body %}
<div class="row-fluid">
	<div class="span5">
		<h2>Submit new media</h2>
		<form action="" method="POST">
			Bundle
			<select name="bundleid">
			{% for bundle in get_user_bundles() %}
				<option value="{{ bundle.id }}">{{ bundle.title }}</option>
			{% endfor %}
			</select>
			<br><br>
			URL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="url">
			<br><br>
			Thumbnail URL<input type="text" name="thumburl">
			<button type="submit" class="btn btn-primary" >Submit</button>
		</form>
	</div>
</div>
{% endblock %}
