{% extends "layout-loggedin.html" %}

{% block body %}

{% if current_user.is_authenticated() %}
<div>Why hello there. We're supposed to show bundles here, but that hasn't been implemented yet.</div>

<h1>Latest bundles</h1>

<div id="container">
    <div class="item"><img src="http://media-cache-ec4.pinterest.com/upload/280067670547265469_ZSv1vyTg.jpg" /></div>
    <div class="item"><img src="http://media-cache-ec1.pinterest.com/upload/24910604159011478_Ul8iLdoZ.jpg" /></div>
    <div class="item"><img src="http://media-cache-ec0.pinterest.com/upload/234820568041266169_xdteJlbL.jpg" /></div>
    <div class="item"><img src="http://media-cache-ec1.pinterest.com/upload/43910165087230530_twkUV2NQ.jpg" /></div>
    <div class="item"><img src="http://media-cache-ec5.pinterest.com/upload/202310208230274647_yZUStA3t.jpg" /></div>
    <div class="item"><img src="http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg" /></div>

</div>

<script type="text/javascript">
    var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>

{% else %}
Redirecting...
{% endif %}

{% endblock body %}
