{% extends "layout-loggedin.html" %}

{% block body2 %}

{% if current_user.is_authenticated() %}
<h1>Latest bundles</h1>

<div id="container">

    <div class="item">
        <p class="rounded-image" style="background-image: url(http://media-cache-ec1.pinterest.com/upload/24910604159011478_Ul8iLdoZ.jpg);">
            <img src="http://media-cache-ec1.pinterest.com/upload/24910604159011478_Ul8iLdoZ.jpg" />

        </p>
    </div>
    <div class="item">
        <p class="rounded-image" style="background-image: url(http://media-cache-ec0.pinterest.com/upload/234820568041266169_xdteJlbL.jpg);">        <img src="http://media-cache-ec0.pinterest.com/upload/234820568041266169_xdteJlbL.jpg" />
        </p>

    </div>
    <div class="item">    <p class="rounded-image" style="background-image: url(http://media-cache-ec1.pinterest.com/upload/43910165087230530_twkUV2NQ.jpg);">
            <img src="http://media-cache-ec1.pinterest.com/upload/43910165087230530_twkUV2NQ.jpg" /></p></div>
    <div class="item">    <p class="rounded-image" style="background-image: url(http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg);">
            <img src="http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg" /></p></div>


    <div class="item">    <p class="rounded-image" style="background-image: url(http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg);">
            <img src="http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg" /></p></div>

    <div class="item">
        <p class="rounded-image" style="background-image: url(http://media-cache-ec1.pinterest.com/upload/24910604159011478_Ul8iLdoZ.jpg);">
            <img src="http://media-cache-ec1.pinterest.com/upload/24910604159011478_Ul8iLdoZ.jpg" />

        </p>
    </div>
    <div class="item">
        <p class="rounded-image" style="background-image: url(http://media-cache-ec0.pinterest.com/upload/234820568041266169_xdteJlbL.jpg);">        <img src="http://media-cache-ec0.pinterest.com/upload/234820568041266169_xdteJlbL.jpg" />
        </p>

    </div>
    <div class="item">    <p class="rounded-image" style="background-image: url(http://media-cache-ec1.pinterest.com/upload/43910165087230530_twkUV2NQ.jpg);">
            <img src="http://media-cache-ec1.pinterest.com/upload/43910165087230530_twkUV2NQ.jpg" /></p></div>
    <div class="item">    <p class="rounded-image" style="background-image: url(http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg);">
            <img src="http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg" /></p></div>


    <div class="item">    <p class="rounded-image" style="background-image: url(http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg);">
            <img src="http://media-cache-ec4.pinterest.com/upload/2885187230765122_rOoK2iIa.jpg" /></p></div>

</div>

<script type="text/javascript">
    
    $(function(){
        $('#container').masonry({
            // options
            itemSelector : '.item',
            columnWidth : 240
        });
    });
    var $container = $('#container');
    $container.imagesLoaded(function(){
        $container.masonry({
            itemSelector : '.item',
            columnWidth : 240
        });
    });
</script>

{% else %}
Redirecting...
{% endif %}

{% endblock body2 %}
