<!doctype html>
<html lang="en">
    <head>
        <title>Bubblewrapp</title>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
        <script type="text/javascript" src="http://use.typekit.com/jdi1ebj.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/jquery.masonry.min.js"></script>
    </head>
    <body>


        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class=""><a href="/"><img src="static/images/logo.png" height="30px"></a></li>
                            <li class="">
                                <a href="./index.html">Explore</a>
                            </li>
                            <li class="">
                                <a href="./scaffolding.html">Create</a>
                            </li>
                            <li class="">
                                <a href="./base-css.html">Discover</a>
                            </li>
                            <li class="">
                                <a href="./less.html">Learn</a>
                            </li>
                            <li class="divider-vertical"></li>
                            <li class="" style="padding:9px 10px 11px;">Welcome, {{ current_user.name }}</li>
                            
                            
                            <li class="dropdown">
                                <a href="#"
                                   class="dropdown-toggle"
                                   data-toggle="dropdown">
                                    My account
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="">
                                <a href="{{ url_for('profile') }}">Profile</a>
                            </li>
                                    <li class="">
                                <a href="{{ url_for('settings') }}">Settings</a>
                            </li>
                                    <li class="">
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>





        <div class="row-fluid wrapper">

            <div class="row">
                <div class="span8">
                    {% for message in get_flashed_messages() %}
                    <div class=flash>{{ message }}</div>
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
                <div class="span8">

                </div>
            </div>
            {% block body2 %}{% endblock %}
        </div>
        <div class="footer">
            <span class="span4 offset4">
                &copy;2012 AA Media Lab | All rights reserved.
            </span>
        </div>
    </body>
</html>
