{% extends "layout.html" %}

{% block body %}
<div class="row-fluid">
    <div class="span5">
        <h2>Login to Bubblewrapp</h2>
        <form action="" method="POST">
            Username:<input type="text" name="username">
            <br><br>
            Password:<input type="password" name="password">
            <button type="submit" class="btn btn-primary" >Login</button>
        </form>
        <div class="control-group">
            <label class="control-label" for="inlineCheckboxes">Remember me for 30 days</label>
            <div class="controls">
              <label class="checkbox inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1">
              </label>
            </div>
          </div>
        <a href="#">Forgot password?</a>
    </div>
</div>


{% endblock %}
